/* Selector Universal*/
* {
    box-sizing: border-box;
}

/* Generales*/ 

li {
    list-style: none;
}
h2 {
    text-align: center;
    font-size: 30px;
}

body, a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: black;
}


header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    width: 100%;
}
header h3 {
    color: white;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;

}

.menu li {
    margin-right: 30px;
    justify-content: space-around;
}
.menu a {
    color: white;
}

/* boton de whastapp*/ 
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: rgb(204, 202, 202);
  background-color: #0b8839;
}

.my-float{
	margin-top:16px;
}

/*inicio*/

.inicio-contenedor {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.inicio-item {
    letter-spacing: 1px;
    font-size: 20px;
    padding: 3%; 
}
.inicio-item h1 {
    letter-spacing: 1px;
    font-size: 40px;
}


/* sobre nosotros*/
.nosotros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    align-items: center;
    margin-top: 5%;
}

.img-nosotros img {
    margin-right: -50px;
}
.texto-nosotros {
    width: 35%;
    color: white;
    
    font-size: 20px;
    letter-spacing: 1px;
}
.texto-nosotros h2 {
    letter-spacing: 1px;
    margin: 1%;
    margin-top: 5%;
    
}
.texto-nosotros p {
    margin-top: 10%;
}
.texto-nosotros hr {
    width: 150px;
    color: white;
    margin-block-end: 10%;
}

/* servicios */ 

.servicios-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 3%;
}

.servicios {
    width: 26%;
    padding: 4px ;
    box-shadow: 2px 2px 3px #999;
    border-radius: 3%;
    margin-top: 1%;
}

.servicios img {
    width: 160px;
    border-radius: 3%;
}

.servicios p {
    font-size: 14px;
}
.servicios h4 {
    margin: 1.5%;
}
.servicios-hr {
    width: 120px;
    height: 4px;
    color: rgb(0, 0, 0);
    background-color: black;
    border-radius: 25px;
}
.servicios-h2 {
    font-size: 40px;
    margin-top: 10%;
}

/* contacto*/
.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    align-items: center;

}

.info-contacto {
    margin: 3%;
    width: 30%;
    text-align: center;
}
.info-contacto h2 {
    font-size: 35px;
    margin-top: 10%;
    color: white;
}
.info-contacto h3 {
    font-size: 25px;
    margin: 15%;
    color: rgb(255, 255, 255);
}

.info-contacto h3 a {
    color: rgba(255, 251, 251, 0.801);
}
.info-contacto p, p a{
    font-size: 20px;
    color: white;
}
.contacto-hr {
    width: 120px;
    height: 4px;
    color: rgb(255, 255, 255);
    background-color:white ;
    border-radius: 25px;
}

/*formulario*/

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 3%;
    margin-top: 3%;
    text-align: center;
}

input {
    font-family: 'Rubik', sans-serif;
    border-radius: 25px;
    border-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px #999;
    font-size: 20px;
    padding: 4px;
    margin-top: 10%;
}
textarea {
    font-family: 'Rubik', sans-serif;
    border-radius: 25px;
    border-color: 3px rgb(255, 255, 255);
    box-shadow: 2px 2px 3px #999;
    font-size: 20px;
    padding: 4px;
    margin-top: 10%;
}

button {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 3px #999;
    border: 0px;
    border-radius: 25px;
    padding: 5%;
    font-size: 30px;
    color: white;
    margin-top: 10%;
}

/* footer*/ 

footer {
    padding: 1%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
}
.iconos-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.iconos-footer i {
    font-size: 25px;
    color: white;
    letter-spacing: 15px;
    margin-left: 15px;
}

.iconos-footer p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.788);
    letter-spacing: 1px;
}
#copy{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 3px;
    color: rgba(255, 255, 255, 0.788);
}
